@media screen and (max-width: 1199px) {
  .main_header {
    nav {
      .menu {
        ul {
          li.nav-item {
            margin-right: 5px;
            a {
              font-size: 14px;
              padding: 5px;
            }
          }
          .dropdown {
            .dropdown-toggle {
              padding: 5px;
            }
            .dropdown-toggle.show {
              padding: 5px;
            }
          }
        }
      }
    }
  }

  .intro {
    .left {
      padding-top: 75px;
      .title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 40px;
      }
      .line {
        margin-bottom: 30px;
      }
      .desc {
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 40px;
      }
    }
  }
}