@media screen and (max-width: 575px) {
  .intro {
    .left {
      .title {
        font-size: 34px;
        line-height: 55px;
      }
      .line {
        margin: 0 auto;
      }
      .desc {
        text-align: left;
      }
    }
  }
  .block_image {
    .text {
      padding-top: 320px;
    }
    .image_bg {
      right: unset;
      left: -220px;
      top: 180px;
      width: 800px;
      display: block;
    }
  }
  .cards {
    padding-top: 27px;
    h2 {
      font-size: 20px;
      line-height: 40px;
    }
    .card_section {
      &--item {
        max-width: 100%;
        padding: 40px 30px;
        .name {
          font-size: 18px;
          line-height: 32px;
        }
      }
    }
  }
  .characteristic {
    padding-bottom: 32px;
    .characteristic_block {
      padding: 26px 16px;
      h2 {
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 37px;
      }
    }
    .characteristic_block--item {
      .number {
        width: 17px;
        height: 17px;
        min-width: 17px;
        font-size: 12px;
      }
      .text {
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
  .contact {
    padding: 0;
    img {
      width: 155px;
      height: 60px;
    }
    h3 {
      font-size: 26px;
      margin-bottom: 32px;
      line-height: 43px;
    }
  }
  .footer {
    padding: 43px 0 45px;
    &_item {
      margin-bottom: 16px;
    }
    & &_item.last {
      .title {
        display: none;
      }
    }
  }
}