@media screen and (max-width: 767px) {
  .intro {
    min-height: unset;
    .left {
      padding-top: 100px;
      & div:last-child {
        display: none;
      }
      .image_mobile {
        display: block;
        width: 400px;
        height: 400px;
        margin: 40px auto;
      }
      .title,
      .desc {
        text-align: center;
        margin: 0 auto 40px;
      }
      .line {
        margin: 0 auto;
      }
      .desc {
        margin-bottom: 57px;
      }
    }
  }

  .image_block {
    margin-bottom: 0;
    .own_col {
      align-items: center;
      .content {
        padding: 40px 25px;
        .title {
          font-size: 18px;
          line-height: 40px;
        }
        .text {
          font-size: 16px;
          line-height: 32px;
        }
      }
    }
    .images {
      max-height: 505px;
    }
  }
}