@media screen and (max-width: 991px) {
  .intro {
    .left {
      padding-top: 50px;
      .title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 35px;
      }
      .line {
        margin-bottom: 30px;
      }
      .desc {
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 40px;
      }
    }
    .own-col {
      display: flex;
      align-items: center;
    }
  }
  .sub_intro {
    padding-bottom: 35px;
    .left {
      .small_title {
        font-size: 18px;
        line-height: 40px;
      }
      .desc {
        font-size: 17px;
        line-height: 32px;
      }
    }
    .own-col {
      display: flex;
      align-items: center;
    }
  }
  .image_block {
    max-height: none;
    .own_col {
      align-items: center;
      .content {
        padding: 50px;
        .text {
          font-size: 14px;
          line-height: 30px;
        }
      }
    }
  }
}